.header {
	text-align: center;
	
}
.top {
	min-height: 100px;
}
.nav {
	font-family: "Comic Sans MS", "cursive";
	font-size: 14px;
}
table.nav-table td {
	padding: 10px;
	text-align: center;
}
.footer {
	text-align: center;
	min-height: 100px;
	font-family: "Comic Sans MS", "cursive";
	font-size: 14px;
}
.restNameFont {
	font-family: 'Courgette', cursive;
	font-size: 36px;
}


hr {
	 border-color: purple;
	 border-width: 1px;
}