.header {
	text-align: center;
	
}
.top {
	min-height: 100px;
}
.nav {
	font-family: "Comic Sans MS", "cursive";
	font-size: 14px;
}
table.nav-table td {
	padding: 10px;
	text-align: center;
}
.restNameFont {
	font-family: 'Courgette', cursive;
	font-size: 36px;
}
h1 {
	font-family: 'Courgette', cursive;
	font-size: 36px;
	}
.Foot {
	text-align: center;
	font-family: "Comic Sans MS", "cursive";
	font-size: 14px;
}
body {
	background: #ece5d3 !important;
	color: #8c1517; !important;
}
nav {
	
	background: #8c1517 !important;
	color: #fff !important;
}
.nav-text {
	color: #ffffff !important;	
}
.nav-text-active {
	color: #8c1517 !important;
	font-weight: bold;	
}
.specFont {
	font-family: "Comic Sans MS", "cursive";
}



