.header {
	text-align: center;
	
}
.top {
	min-height: 100px;
}
.nav {
	font-family: "Comic Sans MS", "cursive";
	font-size: 14px;
}
table.nav-table td {
	padding: 10px;
	text-align: center;
}
.footer {
	text-align: center;
	min-height: 100px;
	font-family: "Comic Sans MS", "cursive";
	font-size: 14px;
}
.restNameFont {
	font-family: 'Courgette', cursive;
	font-size: 36px;
}
hr {
	 border-color: purple;
	 border-width: 1px;
}
a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
	color: green;
}

a:hover {
    text-decoration: underline;
	font-weight: bold;
}

a:active {
    text-decoration: none;
	font-weight: normal;
}